# MEOCE learn-API — environment variables
# MEOCE learn-API — environment variables
MEOCE_ENV=dev


API_VERSION=0.1.0                         #optionnal edit in config.py


POSTGRES_DB=postrgress
POSTGRES_USER=postrgress
POSTGRES_PASSWORD=your_password_postgress

API_KEY=your-secret-api-key-for-other-system 
JWT_SECRET=your-jwt-secret

REDIS_HOST= url-redis-to-access
REDIS_PORT= 1234
REDIS_USERNAME=default
REDIS_PASSWORD=your-password-redis

SMTP_FROM="Your App <you@example.com>"
SMTP_HOST=smtp-relay.example.com
SMTP_PORT=587
SMTP_SECURE=true
SMTP_USER=your-smtp-username
SMTP_PASS=your-smtp-password
API_BASE_URL=http://localhost:8000

GOOGLE_OAUTH_CLIENT_ID=your-google-oauth-client-id.apps.googleusercontent.com

WAHA_API_URL=http://your-waha-instance
WAHA_API_KEY=your-waha-api-key
WAHA_SESSION=default
WAHA_MEOCE_NUMBER=your-meoce-whatsapp-number-e164-no-plus
