# MEOCE learn-API — environment variables
# MEOCE learn-API — environment variables
MEOCE_ENV=dev


API_VERSION=0.1.0                         #optionnal edit in config.py


POSTGRES_DB=postrgress
POSTGRES_USER=postrgress
POSTGRES_PASSWORD=your_password_postgress

API_KEY=your-secret-api-key-for-other-system 
JWT_SECRET=your-jwt-secret